<nav>
  <h1 class="h1_nav_mainCity">Vang Vieng</h1>
  <%= link_to home_path do %>
  <h1 class="h1_mainCity_home">Home</h1>
  <% end %>
</nav>
<div class="div_header_vangvieng">
  <!-- <h1 class="h1_city_toDo">WHAT TO DO IN VANG VIENG</h1> -->
<!-- # <%= image_tag("bangkok.jpg", class: "image_city_specific", alt: "Bangkok") %>
# <%= image_tag("bangkok.jpg", class: "image_city_specific", alt: "Bangkok") %> -->
</div>
<div class="div_mainCity_specific">
  <div class="div_mainCity_toDos">
    <div class="div_mainCity_specificTodo">
      <h1 class="h1_city_specific">Float Baby</h1>
      <h2 class="h2_city_specific">Get on that tube!</h2>
        <%= image_tag("vangvieng_tubing.jpg", class: "style_image", alt: "Tubing") %>
      <p class="p_city_specific">You will float through a river in the middle of gorgeous mountains </p>
    </div>
    <div class="div_mainCity_specificTodo">
      <h1 class="h1_city_specific">Where To Stay</h1>
      <h2 class="h2_city_specific">Bungalows</h2>
      <%= image_tag("vangvieng_bungalows.jpg", class: "style_image", alt: "Bungalow") %>
      <p class="p_city_specific">Incredible. Over the Bridge. Nouth the owner was dynamite. Get a scoot, scoot: You don't want to walk this</p>
    </div>
    <div class="div_mainCity_specificTodo">
      <h1 class="h1_city_specific">Can't Miss</h1>
      <h2 class="h2_city_specific">Find a Sunset</h2>
      <%= image_tag("vangvieng_sunset.png", class: "style_image", alt: "Tuk Tuks") %>
      <p class="p_city_specific">We did not go in a hot-air balloon, but if the right time of the year do it: otherwise - - find a sunset or sunrise. It can't be beat.</p>
    </div>
  <div>
</div>
