<nav>
  <h1 class="h1_nav_mainCity">Vientiane</h1>
  <%= link_to home_path do %>
  <h1 class="h1_mainCity_home">Home</h1>
  <% end %>
</nav>
<div class="div_header_vientiane">
  <!-- <h1 class="h1_city_toDo">WHAT TO DO IN VIENTIANE</h1> -->
<!-- # <%= image_tag("bangkok.jpg", class: "image_city_specific", alt: "Bangkok") %>
# <%= image_tag("bangkok.jpg", class: "image_city_specific", alt: "Bangkok") %> -->
</div>
<div class="div_mainCity_specific">
  <div class="div_mainCity_toDos">
    <div class="div_mainCity_specificTodo">
      <h1 class="h1_city_specific">Avoid</h1>
      <h2 class="h2_city_specific">Vientiane</h2>
        <%= image_tag("luangprabang_town", class: "style_image", alt: "Pad Thai") %>
      <p class="p_city_specific">All these photos are of Luang Prabang.  Biggest mistake of our trip was going to Vientiane instead of Luang Prabang. If you want to go to Vang Vieng - Fly into Luang Prabang and go south. They built a new highway we didn't know about.</p>
    </div>
    <div class="div_mainCity_specificTodo">
      <h1 class="h1_city_specific">Don't Regret</h1>
      <h2 class="h2_city_specific">Your Life</h2>
      <%= image_tag("luangprabang_waterfalls.jpg", class: "style_image", alt: "Waterfalls") %>
      <p class="p_city_specific">Go to Luang Prabang. Check out their waterfalls, their nature, their night market. Literally anything will be better than Vientiane.</p>
    </div>
    <div class="div_mainCity_specificTodo">
      <h1 class="h1_city_specific">Luang Prabang</h1>
      <h2 class="h2_city_specific">Go Here.</h2>
      <%= image_tag("luangprabang_mountains.jpg", class: "style_image", alt: "Mountains") %>
      <p class="p_city_specific">Did not see any of this, but everything about this place looks incredible. If you have time - - this is your launch off place to Cambodia via the Mehong River. </p>
    </div>
  <div>
</div>
