<div class="home_page">
  <div>
  <nav class="nav_home_page">
<h1 class="h1_main_home">Travel<br>Asia</h1>
  </nav>
</div>
<div class="div_vietnam_cities">
  <h1 class="h1_header_vietnam">VIETNAM</h1>
  <%= link_to hoian_path do %>
  <div class="div_city div_city_hoian">
  <h1 class="h1_city h1_city_hoian">HOI AN</h1>
</div>
<% end %>
<%= link_to hanoi_path do %>
<div class="div_city div_city_hanoi">
  <h1 class="h1_city h1_city_hanoi">HALONG BAY</h1>
</div>
<% end %>
<%= link_to hochiminh_path do%>
<div class="div_city div_city_hochiminh">
  <h1 class="h1_city h1_city_hochiminh">HO CHI MINH</h1>
</div>
<% end %>
<!-- </div> -->
<!-- <div class="div_laos_cities"> -->
<h1 class="h1_header_vietnam">LAOS</h1>
<%= link_to vangvieng_path do%>
<div class="div_city div_city_vangvieng">
<h1 class="h1_city h1_city_hoian">VANG VIENG</h1>
</div>
<% end %>
<%= link_to vientiane_path do%>
<div class="div_city div_city_vientiane">
<h1 class="h1_city h1_city_hanoi">VIENTIENE</h1>
</div>
<% end %>
<h1 class="h1_header_vietnam">THAILAND</h1>
<%= link_to kohsamui_path do%>
<div class="div_city div_city_kohsamui">
<h1 class="h1_city h1_city_kohsamui">KOH SAMUI</h1>
<% end %>
</div>
<%= link_to chiangmai_path do%>
<div class="div_city div_city_chiangmai">
<h1 class="h1_city h1_city_chiangmai">CHIANG MAI</h1>
</div>
<% end %>
<%= link_to bangkok_path do%>
<div class="div_city div_city_bangkok">
<h1 class="h1_city h1_city_hochiminh">BANGKOK</h1>
</div>
<% end %>
</div>
</div>
<!-- <nav>
  <ul>
    <li><%= link_to "Travel Asia", home_path %>
    </ul>
    <ul>
    <li><%= link_to "Vietnam", vietnam_path %>
    <li><%= link_to "Thailand", thailand_path %>
      <li><%= link_to "Laos", laos_path %>
  </ul>
</nav> -->
