<nav>
  <h1 class="h1_nav_mainCity">Bangkok</h1>
  <%= link_to home_path do %>
  <h1 class="h1_mainCity_home">Home</h1>
  <% end %>
</nav>
<div>
<%= image_tag("bangkok.jpg", class: "image_city_specific", alt: "Bangkok") %>
<%= image_tag("bangkok.jpg", class: "image_city_specific", alt: "Bangkok") %>
</div>
<h1 class="h1_city_toDo">WHAT TO DO IN BANGKOK</h1>
<div class="div_mainCity_specific">
  <div class="div_mainCity_toDos">
    <div class="div_mainCity_specificTodo">
      <h1 class="h1_city_specific">Must Eat</h1>
        <%= image_tag("padthai.jpg", class: "style_image", alt: "Pad Thai") %>
      <h2 class="h2_city_specific">Pad Thai</h2>
      <p class="h2_city_specific">Street food is incredibly. Be smart, but oh my: I'd recommend </p>
    </div>
    <div class="div_mainCity_specificTodo">
      <h1 class="h1_city_specific">Avoid</h1>
      <%= image_tag("temple_bangkok.jpg", class: "style_image", alt: "Bangkok") %>
      <h2 class="h2_city_specific">Main Temple</h2>
      <p class="p_city_specific">It's overrated and not worth what you will pay</p>
    </div>
    <div class="div_mainCity_specificTodo">
      <h1 class="h1_city_specific">Can't Miss</h1>
      <%= image_tag("tuktuks.jpg", class: "style_image", alt: "Tuk Tuks") %>
      <h2 class="h2_city_specific">Tuk Tuk Rides</h2>
      <p class="p_city_specific">Take as many as you can. It's a never-ending rush</p>
    </div>
  <div>
</div>
