<nav>
  <h1 class="h1_nav_mainCity">Bangkok</h1>
  <%= link_to home_path do %>
  <h1 class="h1_mainCity_home">Home</h1>
  <% end %>
</nav>
<div class="div_header_Bangkok">
  <!-- <h1 class="h1_city_toDo">WHAT TO DO IN BANGKOK</h1> -->
<!-- # <%= image_tag("bangkok.jpg", class: "image_city_specific", alt: "Bangkok") %>
# <%= image_tag("bangkok.jpg", class: "image_city_specific", alt: "Bangkok") %> -->
</div>
<div class="div_mainCity_specific">
  <div class="div_mainCity_toDos">
    <div class="div_mainCity_specificTodo">
      <h1>Must Eat</h1>
      <h2>Pad Thai</h2>
        <%= image_tag("padthai.jpg", class: "style_image", alt: "Pad Thai") %>
      <p>Street food is incredible. Be smart, but oh my: I'd recommend.</p>
    </div>
    <div class="div_mainCity_specificTodo">
      <h1>Avoid</h1>
      <h2>Main Temple</h2>
      <%= image_tag("temple_bangkok.jpg", class: "style_image", alt: "Bangkok") %>
      <p>It's overrated and not worth what you will pay.</p>
    </div>
    <div class="div_mainCity_specificTodo">
      <h1>Can't Miss</h1>
      <h2>Tuk Tuk Rides</h2>
      <%= image_tag("tuktuks.jpg", class: "style_image", alt: "Tuk Tuks") %>
      <p>Take as many as you can. It's a never-ending rush.</p>
    </div>
  </div>
</div>
<div class="nav_specificCity">
  <h1 class="h1_header_vietnam">ELSEWHERE IN THAILAND</h1>
  <%= link_to chiangmai_path do%>
  <div class="div_bottomNav_city div_city_chiangmai">
    <h1 class="h1_city h1_city_chiangmai">CHIANG MAI</h1>
  </div>
  <% end %>
  <%= link_to kohsamui_path do%>
  <div class="div_bottomNav_city div_city_kohsamui">
    <h1 class="h1_city h1_city_kohsamui">KOH SAMUI</h1>
  </div>
  <% end %>
</div>
<footer>
<%= link_to home_path do %>
<h1 class="h1_bottomNav_home">HOME</h1>
<% end %>
</footer>
