<nav>
  <h1 class="h1_nav_mainCity">Chiang Mai</h1>
  <%= link_to home_path do %>
  <h1 class="h1_mainCity_home">Home</h1>
  <% end %>
</nav>
<div class="div_header_chiangmai">
  <h1 class="h1_city_toDo">WHAT TO DO IN Chiang Mai</h1>
<!-- # <%= image_tag("bangkok.jpg", class: "image_city_specific", alt: "Bangkok") %>
# <%= image_tag("bangkok.jpg", class: "image_city_specific", alt: "Bangkok") %> -->
</div>
<div class="div_mainCity_specific">
  <div class="div_mainCity_toDos">
    <div class="div_mainCity_specificTodo">
      <h1 class="h1_city_specific">MUST</h1>
      <h2 class="h2_city_specific">Elephants</h2>
        <%= image_tag("padthai.jpg", class: "style_image", alt: "Pad Thai") %>
      <p class="p_city_specific">Go to a santuacy. Don't ride any of them, unlesss you are a savage</p>
    </div>
    <div class="div_mainCity_specificTodo">
      <h1 class="h1_city_specific">Can't Miss</h1>
      <h2 class="h2_city_specific">Cooking School</h2>
      <%= image_tag("temple_bangkok.jpg", class: "style_image", alt: "Bangkok") %>
      <p class="p_city_specific">We did a cooking school with a guy named Da, and it was the most amazing food I've ever cooked</p>
    </div>
    <div class="div_mainCity_specificTodo">
      <h1 class="h1_city_specific">Get outside</h1>
      <h2 class="h2_city_specific">Mountains everywhere</h2>
      <%= image_tag("tuktuks.jpg", class: "style_image", alt: "Tuk Tuks") %>
      <p class="p_city_specific">This is the place to get lost</p>
    </div>
  <div>
</div>
