<nav>
  <h1 class="h1_nav_mainCity">Halong Bay</h1>
  <%= link_to home_path do %>
  <h1 class="h1_mainCity_home">Home</h1>
  <% end %>
</nav>
<div class="div_header_halongbay">
  <!-- <h1 class="h1_city_toDo">HALONG BAY</h1> -->
<!-- # <%= image_tag("bangkok.jpg", class: "image_city_specific", alt: "Bangkok") %>
# <%= image_tag("bangkok.jpg", class: "image_city_specific", alt: "Bangkok") %> -->
</div>
<div class="div_mainCity_specific">
  <div class="div_mainCity_toDos">
    <div class="div_mainCity_specificTodo">
      <h1 class="h1_city_specific">Junk Boat Cruise</h1>
      <h2 class="h2_city_specific">Indochina</h2>
        <%= image_tag("halongbay_indochina.jpg", class: "style_image", alt: "Pad Thai") %>
      <p class="p_city_specific">It's expensive, but feels good to have a fancy evening</p>
    </div>
    <div class="div_mainCity_specificTodo">
      <h1 class="h1_city_specific">Smog</h1>
      <h2 class="h2_city_specific">It's everywhere</h2>
      <%= image_tag("halongbay_fog.jpg", class: "style_image", alt: "Bangkok") %>
      <p class="p_city_specific">The photos online look incredible, but anticipate significant fog: So if you want that Instagram shot - - Wake Up Early</p>
    </div>
    <div class="div_mainCity_specificTodo">
      <h1 class="h1_city_specific">Drink Up</h1>
      <h2 class="h2_city_specific">Grab A Bottle</h2>
      <%= image_tag("halongbay_wine", class: "style_image", alt: "Tuk Tuks") %>
      <p class="p_city_specific">Good to see, but you'll never want to return, so grab that bottle of wine. I'd go with something from New Zealand</p>
    </div>
  <div>
</div>
