<nav>
  <h1 class="h1_nav_mainCity">Hoi An</h1>
  <%= link_to home_path do %>
  <h1 class="h1_mainCity_home">Home</h1>
  <% end %>
</nav>
<div class="div_header_hoian">
  <!-- <h1 class="h1_city_toDo">HOI AN</h1> -->
<!-- # <%= image_tag("bangkok.jpg", class: "image_city_specific", alt: "Bangkok") %>
# <%= image_tag("bangkok.jpg", class: "image_city_specific", alt: "Bangkok") %> -->
</div>
<div class="div_mainCity_specific">
  <div class="div_mainCity_toDos">
    <div class="div_mainCity_specificTodo">
      <h1 class="h1_city_specific">Fall in Love</h1>
      <h2 class="h2_city_specific">City of Lanterns</h2>
        <%= image_tag("hoian_love", class: "style_image", alt: "Hoi An Love") %>
      <p class="p_city_specific">It is a beautiful little town. Near the beach and yet it's own secluded wonderland </p>
    </div>
    <div class="div_mainCity_specificTodo">
      <h1 class="h1_city_specific">Have to Do</h1>
      <h2 class="h2_city_specific">Custom Suits</h2>
      <%= image_tag("hoian_clothing.png", class: "style_image", alt: "Custom Suits") %>
      <p class="p_city_specific">Find a place, and get yourself fitted.</p>
    </div>
    <div class="div_mainCity_specificTodo">
      <h1 class="h1_city_specific">Party?</h1>
      <h2 class="h2_city_specific">Go to Tiger Tiger</h2>
      <%= image_tag("hoian_tigertiger.jpg", class: "style_image", alt: "Tiger Tiger") %>
      <p class="p_city_specific">If you stay up late enough, the after party will move to Tiger Tiger 2. Yes, it's a different bar named after the first bar</p>
    </div>
  <div>
</div>
