<nav>
  <h1 class="h1_nav_mainCity">Hoi An</h1>
  <%= link_to home_path do %>
  <h1 class="h1_mainCity_home">Home</h1>
  <% end %>
</nav>
<div class="div_header_hoian">
</div>
<div class="div_mainCity_specific">
  <div class="div_mainCity_toDos">
    <div class="div_mainCity_specificTodo">
      <h1>Fall in Love</h1>
      <h2>City of Lanterns</h2>
        <%= image_tag("hoian_love.jpg", class: "style_image", alt: "Hoi An Love") %>
      <p>It is a beautiful little town. Near the beach and yet it's own secluded wonderland </p>
    </div>
    <div class="div_mainCity_specificTodo">
      <h1>Have to Do</h1>
      <h2>Custom Suits</h2>
      <%= image_tag("hoian_clothing.png", class: "style_image", alt: "Custom Suits") %>
      <p>Find a place, and get yourself fitted.</p>
    </div>
    <div class="div_mainCity_specificTodo">
      <h1>Party?</h1>
      <h2>Go to Tiger Tiger</h2>
      <%= image_tag("hoian_tigertiger.jpg", class: "style_image", alt: "Tiger Tiger") %>
      <p>If you stay up late enough, the after party will move to Tiger Tiger 2. Yes, it's a different bar named after the first bar</p>
    </div>
  </div>
<div class="nav_specificCity">
  <h1 class="h1_header_vietnam">ELSEWHERE IN VIETNAM</h1>
  <%= link_to hochiminh_path do%>
  <div class="div_bottomNav_city div_city_hochiminh">
    <h1 class="h1_city h1_city_hochiminh">HO CHI MINH</h1>
  </div>
  <% end %>
  <%= link_to hanoi_path do%>
  <div class="div_bottomNav_city div_city_halongbay">
    <h1 class="h1_city h1_city_halongbay">HALONG BAY</h1>
  </div>
  <% end %>
</div>
<footer>
<%= link_to home_path do %>
<h1 class="h1_bottomNav_home">HOME</h1>
<% end %>
</footer>
</div>
