<!DOCTYPE html>
<html>
  <head>
    <title>TravelAsia</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav>
      <ul>
        <li><%= link_to "Travel Asia", home_path %>
        </ul>
        <ul>
        <li><%= link_to "Vietnam", vietnam_path %>
        <li><%= link_to "Thailand", thailand_path %>
          <li><%= link_to "Laos", laos_path %>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
